* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}